/node_modules
/public/hot
/public/storage
/public/js
/public/csv_files
/storage/*.key
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/graphics/*.zip
.DS_Store
